---
---

body {
  background-color: black;
  color: white;
  font-family: Inconsolata;
}

img {
  width: 64px;
  margin-top: -32px;
  margin-left: -32px;
  position: absolute;
  top: 50%;
  left: 50%;
}